<section class="pager">
  <ul>
    {% if page.previous %}
    <li class="previous"><a href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Older</a></li>
    {% else %}
    <li class="disabled"><a>&larr; Older</a></li>
    {% endif %}
    {% if page.next %}
    <li class="next"><a href="{{ site.baseurl }}{{ page.next.url }}" title="{{ page.next.title }}">Newer &rarr;</a></li>
    {% else %}
    <li class="disabled"><a>Newer &rarr;</a>
    {% endif %}
  </ul>
</section>
